
 @import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,700;1,400;1,700&family=Kalnia:wght@100;200;300;400;500;600;700&family=Karla:wght@200&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:ital,wght@0,100;0,200;1,100&family=Oswald:wght@200;300;400;500;600;700&family=Raleway:ital,wght@0,200;0,400;0,500;0,600;0,800;0,900;1,800;1,900&family=Sometype+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
 /*
font-family: 'Anonymous Pro', monospace;
font-family: 'Kalnia', serif;
font-family: 'Karla', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Sometype Mono', monospace;
*/
 body {
     margin: 30px;
     font-family: 'Raleway', sans-serif;

 }

.tit1 {
    font-family: 'Sometype Mono', monospace;
    font-size: 3rem;
    font-weight: 700;
}
.tit2 {
    font-family: 'Sometype Mono', monospace;
    font-size: 2.2rem;
    font-weight: 700;
}
.tit3 {
    font-family: 'Sometype Mono', monospace;
    font-size: 1.5rem;
    font-weight: 700;
}
.ref::before {
    font-weight: bold;
    color: rgb(0, 0, 0);
    content: "Mobile";
}

.destacada {
    display: flex;
    flex-direction: row;
    height: 600px;
    column-gap: 30px;
    margin-bottom: 30px;
    overflow: hidden;

}

.cont-image-destacada {
    display: flex;
    flex-direction: column;
    max-width: 55%;
    height: 100%;
}

.cont-text-destacada {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    height: 100%;
    justify-content: space-between;

}

.imagen-destacada {
    object-fit: cover;
    width: 100%;
    height: 100%;
   
}

.cont-text-destacada-metadata {
   display: flex;
   gap: 15px;
}
.titulares-mobile {
    display: none;
    flex-direction: row;
    
 }
 .container-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 380px;
    background-color: beige;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}
 .cont-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;

    padding: 10px;
}
 
 /* MOVIL */
 @media screen and (max-width: 576px) {
     body {
         margin: 20px;
         font-size: 12px;

     }
     .tit1 {
        font-size: 2rem;
       
    }
    .tit2 {
        font-size: 1.3rem;
        
    }
    .tit3 {
        font-size: .9rem;
    }

     .ref::before {
         font-weight: bold;
         color: rgb(0, 0, 0);
         content: "Mobile";
     }

     .destacada {
         display: flex;
         flex-direction: row;
         height: 300px;
         column-gap: 10px;

     }

     .cont-image-destacada {
         display: flex;
         flex-direction: column;
         max-width: 55%;
     }
     .cont-image {
        display: flex;
        flex-direction: column;
        max-width: 45%;
    }

     .cont-text-destacada {
        display: flex;
        flex-direction: column;
        max-width: 40%;
        
        justify-content: space-between;
    
     }
     .cont-text {
        display: flex;
        flex-direction: column;
        max-width: 45%;
        
        justify-content: space-between;
    
     }

     .imagen-destacada {
         width: 100%;
        
     }

     .cont-text-destacada-metadata {
        display: flex;
        gap: 15px;
     }
     .titulares-desktop {
        display: none;
     }
     .titulares-mobile {
        display: flex;
        flex-direction: row;
        border-bottom: 2px solid #f6f6f6;

     }
     .lis-tit-mov {
        display: flex;
        row-gap: 10px;
     }
     .container-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
     .card {
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: rgb(239, 239, 233);
     }
 }

 /* pc */

 @media screen and (min-width: 980px) {
     .container {
         width: 90%;
         background-color: blue;
     }

     .ref::before {
         font-weight: bold;
         color: rgb(0, 0, 0);
         content: "Desktop";
     }
 }


 /* TABLET*/

 /* @media screen and (min-width: 577px) and (max-width: 979px) {
     .container {
         width: 600px;
         background-color: pink;
     }
 } */